<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - microblog</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sing up</a></li>
        </ul>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages%}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>